.video-container {
    position: relative;
    display: inline-block;
}

.body {
    height: 90%;
    display: grid;
    grid-template-columns: 70% 30%;
    background: #0E0E10;


    &__leftSide {
       
        display: flex;
        align-items: center;
        flex-direction: column; 
        padding: 2rem;
        overflow-y: scroll;
      
    }
    &__videoMain {
        height: 35rem;
        border-radius: 0.5rem;
    }

    &__videoOverlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    

    &__videoOwner {

        width: 55rem;
        height: 7rem;
       color: #eee;
       border: 0.2rem solid #A970FF;
       background: #A970FF;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 0 0 1rem 1rem;
    }

 

    &__div {
        width: 100%;
        padding: 2rem;
        display: flex;
        align-items: center;
        &:hover{
            cursor: pointer;
          }
        &--1 {
            justify-content: start;
            gap: 1rem;


        }

        &--2 {
            justify-content: end;
            gap: 1rem;
         
       

        }

    }


    &__VideoItems {
        list-style: none;

        &--circle {

            background: white;
            height: 6rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
        }


    }

    &__righSide{
        height: 100%;
        width: 100%;
    }

    &__rightSidelist{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 2rem;
       
    }

    &__rightSideItems{
       
        height: 20rem;
        width: 35rem;
     
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__RightSideVido{
        height: 100%;
    }
}